#container{
    background: rgb(124,8,8);
    background: linear-gradient(90deg, rgba(124,8,8,1) 0%, rgba(255,0,0,1) 50%, rgba(124,8,8,1) 100%);
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    top:0;
    right:0;
    left:0;
    bottom:0;

}

.mainT{
    font-size: 100px;
    margin: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.barraProgressiva{
    position: relative;
    height: 10px;
    width: 50%;
    border: 10px solid #000000;
    border-radius: 15px;
}
.barraProgressiva .coloreInterno{
    position: absolute;
    background-color: rgb(211, 209, 209);
    width: 0px;
    height: 10px;
    border-radius: 15px;
    animation: progresso 3s infinite linear;    
}

@keyframes progresso{
    0%{
      width: 0%;
    }
    25%{
        width: 50%;
    }
    50%{
        width: 75%;
    }
    75%{
        width: 85%;
    }
    100%{
        width: 100%;
    }
}

@media (max-width: 768px){
    .mainT{
        font-size: 50px;
    }
}