.pulsanti{
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pulsanti input{
    font-size:20px;
    margin:20px;
    padding:10px;
    border:none;
    font-weight: bold;
    border-radius:30px;
    color:rgb(255, 255, 255);
    background-color: #6d1212;
    border:2px solid rgb(0, 0, 0);
    transition: background-color 100ms;
}

.pulsanti input:hover{
    cursor:pointer;
    background-color: rgb(255, 255, 255);
    border:2px solid #6d1212;
    color:#6d1212;
}

@media (min-width: 770px){
    .pulsanti{
        padding-top:0px;
        padding-bottom:0px;
    }
    .pulsanti input{
        font-size:20px;
        padding:15px;
    }
}

@media (min-width: 1100px){
    .pulsanti{
        padding-top:0px;
        padding-bottom:0px;
        margin-top:40px;
    }
    .pulsanti input{
        font-size:25px;
        padding:20px;
    }
}