#splashscreen{
    top:0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkred;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-size: 40%;
    z-index: 200;
}
#splashscreen::before{
    display: block;
    top:0;
    position: absolute;
    content: "";
    height: 100vh;
    width: 100vw;
    background-image: url("../img/logo.png");
    background-size: 40%;
    opacity: 0.2;
}

#splashscreen img{
    width: 80%;
    animation: caricamento 1s forwards;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(265deg) brightness(105%) contrast(101%);
}

@keyframes caricamento{
    0%{width: 0%;}
    100%{width: 60%;}
}
